body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px 150px;
  margin: 0;
}

header {
  background: #1e90ff;
  color: white;
  padding: 25px 40px;
  margin-bottom: 40px;
}

header h1 {
  margin: 0;
  font-size: 34px;
  letter-spacing: 1.5px;
}

main {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 4px 20px;
}

main h2 {
  font-size: 28px;
  color: black;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#pesanSalam {
  margin-top: 20px;
  font-size: 18px;
  color: #11aa03;
  text-align: center;
  padding: 15px;
  transition: all 0.5s ease;
}

h3 {
  color: #333;
  font-size: 22px;  
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 6px;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #007bff;
  color: white;
}

footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #1e90ff;
  text-align: center;
  color: white;
  font-size: 14px;
}
